body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-width:min-content;
    min-height: 100vh;
}

.Area1, .Footer{
    background: #FF8200;
}

.Area1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 32px;
}

.Area1 .Title {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.Area1 .Subtext{
    font-size: 18px;
    color: white;
}

.Header .Logo {
    font-size: 24px;
    color: white;
}

.Header a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 8px;
}

.Container button {
    background-color: #45003B;
    color: #F9FAF8;
    width: 100px;
    border-radius: 8px;
    border: 2px solid #45003B;
    font-size: 20px;
}

.Area1 img {
    width: auto;
    height: 300px;
}

.Header {
    display: flex;
    justify-content:space-between;
    padding: 16px;
}


.Content {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 16px;
    width: 450px;
}

.Container .Title, .Container .Subtext {
    width: 400px;
}

.Area2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.Information {
    display: flex;
}

.Information .Subtext {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 200px;
    height: auto;
}

.Subtext p {
    text-align: center;
    font-size: 18px;
    color: #45003B;
}

.Area2 .Title {
    font-size: 36px;
    font-weight: bolder;
    color: #45003B;
}
.Area3 {
    background: #FF5D00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 64px;
}

.Quote p{
    font-size: 36px;
    width: 700px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.Attribute {
    justify-content: flex-end;
    font-style: 36px;
    font-weight: bolder;
}

.Area4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.Box {
    display: flex;
    background: #45003B;
    border-radius: 12px;
    width: 1000px;
    height: 200px;
    justify-content: space-around;
}

.Box .Container {
    align-content: center;
    justify-content: center;
}

.Box button {
    background-color: #45003B;
    border: 2px solid #F9FAF8;
    font-size: 24px;
    border-radius: 8px;
    color: #F9FAF8;
    min-width: 150px;
}

.Box .Button-Container {
    display: flex;
    width: fit-content;
    align-self: center;
}

.Box .Container .Title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.Box .Container .Subtext {
    color: #F9FAF8;
    font-size: 18px;
}

.Footer {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    height: 150px;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}